<header class="nav" [ngStyle]="{'background': currentUrl ? '#0000000a' : '#fff'}">
  <div class="container nav__inner">
    <div class="brand">
      <img src="assets/images/Logo.png" alt="CampusED.AI" class="brand__logo"/>
    </div>
    
    <nav class="nav__links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a routerLink="/pricing" routerLinkActive="active">Pricing</a>
      <a routerLink="/exams" routerLinkActive="active">Exams</a>
      <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
    </nav>

      <div class="nav__cta" *ngIf="currentPath">
        <p class="free-">
          Trisbh
        </p>
        <div class="user-icon">
          <span><i class="fa-solid fa-user"></i></span>
        </div>
      </div>


  <div class="nav__cta" *ngIf="!currentPath">
    <a routerLink="/signup" class="btn btn--ghost">Sign Up</a>
    <a routerLink="/login" class="btn btn--primary">Login</a>
  </div>

    
  </div>
</header>