<section class="auth">
  <div class="container">
    <div class="row">
      <!-- LEFT SIDE: Login Form -->
      <div class="col-lg-5">
        <div class="auth__form-wrapper">
          <div class="auth__logo">
            <img src="assets/images/Logo.png" alt="Campused.ai" />
          </div>

          <h1 class="auth__title" style="margin-bottom: 1.6rem">
            Forgot Password
          </h1>

          <form
            [formGroup]="forgotPasswordForm"
            (ngSubmit)="onSubmit()"
            class="auth__form"
          >
            <!-- Email -->
            <div class="form-group">
              <label for="email">Email Address</label>
              <div class="input-wrapper">
                <span class="input-icon">
                  <img src="assets/images/email.png" alt="email icon" />
                </span>
                <input
                  type="email"
                  id="email"
                  formControlName="email"
                  placeholder="hello@email.com"
                  [class.is-invalid]="
                    (submitted || f['email'].touched) && f['email'].errors
                  "
                  [class.is-valid]="
                    (submitted || f['email'].touched) &&
                    !f['email'].errors &&
                    f['email'].value
                  "
                />
              </div>
              <div
                *ngIf="(submitted || f['email'].touched) && f['email'].errors"
                class="invalid-feedback"
              >
                <span *ngIf="f['email'].errors['required']"
                  >Email is required</span
                >
                <span *ngIf="f['email'].errors['email']"
                  >Please enter a valid email</span
                >
              </div>
            </div>

            <button type="submit" class="btn btn--primary" [disabled]="loading">
              <span *ngIf="!loading">Send code on email</span>
              <span *ngIf="loading" class="loader"></span>
            </button>
            <p
              class="auth__text"
              style="margin-top: 1.6rem; text-align: center"
            >
              <a [routerLink]="'/login'">&nbsp;Back to login</a>
            </p>
          </form>
        </div>
      </div>

      <!-- RIGHT SIDE: Banner -->
      <div class="col-lg-7">
        <div class="auth__banner">
          <div class="banner-lineimg-2">
            <img src="assets/images/card-line-2.png" alt="Campused.ai" />
          </div>
          <div class="banner-lineimg">
            <img src="assets/images/card-line.png" alt="Campused.ai" />
          </div>
          <div class="banner-lineimg-3">
            <img src="assets/images/card-line-3.png" alt="Campused.ai" />
          </div>
          <div class="banner-lineimg-4">
            <img src="assets/images/card-line-4.png" alt="Campused.ai" />
          </div>
          <div class="banner-dot">
            <img src="assets/images/dot.png" alt="Campused.ai" />
          </div>
          <div class="banner-content">
            <div class="banner-text">
              <img src="assets/images/LoginScoller.png" alt="Campused.ai" />
            </div>
            <p class="banner-label">Campused.ai</p>
            <h2 class="banner-title">Welcome to Campused.ai</h2>
            <p class="banner-subtitle">
              Get AI-Powered summaries, quizzes, flashcards & voice notes to
              save time<br />and boost your scores.
            </p>

            <div class="banner-features">
              <h3>Study Smarter.<br />Crack Exams Faster</h3>

              <div class="feature-box">
                <ul class="feature-list">
                  <li>
                    <img src="assets/images/tick.png" alt="check" />
                    Trusted by 17,000+ Students
                  </li>
                  <li>
                    <img src="assets/images/tick.png" alt="check" />
                    Used for NEET, JEE, UPSC, IELTS & more
                  </li>
                  <li>
                    <img src="assets/images/tick.png" alt="check" />
                    Available in English, Hindi, Tamil & more
                  </li>
                </ul>

                <div class="user-avatars">
                  <img src="assets/images/person.jpg" alt="User 1" />
                  <img src="assets/images/person2.jpg" alt="User 2" />
                  <img src="assets/images/person3.jpg" alt="User 3" />
                  <img src="assets/images/person4.jpg" alt="User 4" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END Banner -->
    </div>
  </div>
</section>
